body {
    font-family: 'Source Sans Pro', sans-serif;
}

#hp_search_bg_image {
    border-radius: 10px;
    height: 550px;  
    min-height: 550px;
    width: auto;
    min-width: 740px;
    z-index: 1;
}

#search_box {
    left: 100px;
    width: 375px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgb(0 0 0 / 20%);
    z-index: 2;
}

.account {
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgb(0 0 0 / 20%);
}


#host_image {
    margin-left: 19.5%;
    border-radius: 10px;
    height: 545px;  
    min-height: 520px;
    width: auto;
    min-width: 740px;
    z-index: 1;
    
}

#search_feature{
    min-height: 552px;
}
#host_feature {
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    min-height: 520px;
}

#host {
    z-index: 2;
    margin-top: 115px;
}

#address-label {
    opacity: .65;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}

#park_photo {
    height: 250px;
    width: auto;
}

#event_details {
    border-radius: 10px;
}

.panel-default {
    border-color: #ddd;
}

/* main {
    background-color: #DBF5F0;
} */

.nav-bg-color {
    background-color: #D4F1F4;
}

.inline {
    display: inline-block;
}

img.small {
    height: 250px;
}

.text-size {
    font-size: 18px;
}

.font-type {
    font-family: 'Source Sans Pro', sans-serif;
}

footer {
    /* display: flex; */
    margin-top: 50px;
    font-size: small;
    justify-content: center;
    padding: 5px;
    background-color: #A4E5E0;
    color: black;
}

address {
    margin-bottom: 0;
}