body {
    font-family: 'Source Sans Pro', sans-serif;
}

#hp_search_bg_image {
    border-radius: 10px;
    height: 550px;  
    min-height: 550px;
    width: auto;
    min-width: 740px;
    z-index: 1;
}

#search_box {
    left: 49px;
    width: 375px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgb(0 0 0 / 20%);
    z-index: 2;
}

.account {
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgb(0 0 0 / 20%);
}


#host_image {
    margin-left: 19.5%;
    border-radius: 10px;
    height: 520px;  
    min-height: 520px;
    width: auto;
    min-width: 740px;
    z-index: 1;
    
}

#search_feature{
    min-height: 552px;
}
#host_feature {
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    min-height: 520px;
}

#host {
    z-index: 2;
}