{% extends 'base.html' %}

{% block title %} Confirm to register {% endblock %}

{% block navbar %}
<div class="nav_bar">
    <form action="/">
        <input type="submit" value="Home">
    </form>
    <form action="/host">
        <input type="submit" value="Hosting">
    </form>
    <form action="/profile">
        <input type="submit" value="Profile">
    </form>
    <form action="/logout">
        <input type="submit" value="Log out">
    </form>
</div>
{% endblock %}

{% block body %}

<p>Would you like to continue registering for {{event.title}} at {{event.location.name}},
on {{event.date}} at {{event.start_time}}.</p>

<form action="/confirm">

    <label for="yes">Yes</label>
    <input type="radio" name="confirm" value="yes" id="yes"><br>

    <label for="no">No</label>
    <input type="radio" name="confirm" value="no" id="no"><br>

    <input type="submit">
</form>



{% endblock %}