{% extends 'base.html' %}

{% block title %} Successfully registered for a playdate {% endblock %}

{% block navbar %}
<div class="nav_bar">
    <form action="/">
        <input type="submit" value="Home">
    </form>
    <form action="/host">
        <input type="submit" value="Hosting">
    </form>
    <form action="/profile">
        <input type="submit" value="Profile">
    </form>
    <form action="/logout">
        <input type="submit" value="Log out">
    </form>
</div>
{% endblock %}

{% block body %}

<p>Congratulations, you successfully registered for {{registration.event.title}} at {{registration.event.location.name}},
on {{registration.event.date}} at {{registration.event.start_time}}.</p>




  


<!-- Script for DOM and event handling -->
<script src="static/js/playdate.js"></script>


{% endblock %}