{% extends 'base.html' %}

{% block title %} Welcome to Playdate Birdies {% endblock %}

{% block head %} {% endblock %}

{% block navbar %}
<div class="nav_bar">
    
    {% if 'user_id' in session %}
        <form action="/host">
            <input type="submit" value="Hosting">
        </form>
        <form action="/profile">
            <input type="submit" value="Profile">
        </form>
        <form action="/logout">
            <input type="submit" value="Log out">
        </form>

    {% else %}
        <form action="/signup">
            <input type="submit" value="Sign up">
        </form>
        <form action="/login">
            <input type="submit" value="Log in">
        </form>
        <form action="/host">
            <input type="submit" value="Hosting" disabled>
        </form>
    
    {% endif %}
</div>
{% endblock %}

{% block body %}
<h1> Welcome to Playdate Birdies - Where Kids Play, Grow and Make Friends</h1>

<div class="search">
    <h2>Search for a Playdate</h2>

    <form action="/search">
        <div>
            <label for="city_zipcode">City or Zipcode</label>
            <input type="text" name="city_zipcode" placeholder="e.g. 94542 or Hayward" id="city_zipcode">
        </div>
    
        <div>
            <label for="event_date">Date</label>
            <input type="date" name="date" value="{{today}}" id="event_date">
        </div>

        <div>
            <label for="age">Age group</label>
            <select name="age_group" id="age">
                <option value="">--Select an age group--</option>
                {% for age in age_groups %}
                <option value="{{age}}">{{age}}</option> 
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="activity">Activity</label>
            <input type="text" name="activity" placeholder="singing" id="activity">
        </div>

        <div>
            <input type="submit">
        </div>
    </form>
</div>


<div class="host">
    <h2>Host a Playdate</h2>
    <form action="/host">
        <input type="submit" value="Try Hosting">
    </form>
</div>


<div class="recommended">
    <h2>Recommended playdates for you</h2>
    {% for event in recommendations %}
        <div>
            <p> <a href="/attend?event_id={{event.event_id}}"> Title: {{ event.title }} </a></p>
            <p>On {{ event.date }} from {{ event.start_time }} to {{ event.end_time }}</p>
            <!-- <p>Description: {{ event.description }}</p>
            {% if event.location.photo %}
                <img src={{ event.location.photo }} alt="parkPhoto" />
            {% endif %}
            <p>Location: {{ event.location.name }}</p>
            <p>Address: {{ event.location.address }}, {{ event.location.city }}, 
                {{ event.location.state }} {{ event.location.zipcode }} </p>
            <p>On {{ event.date }} from {{ event.start_time }} to {{ event.end_time }}</p>
            <p>Activities: 
                {% for activity in event.activities %}
                    {% if loop.last %}
                        {{ activity.name }}.
                    {% else %}
                        {{ activity.name }},
                    {% endif %}
                {% endfor %} -->
            </p>
        </div>
    {% endfor %}


</div>

<div id="map" style="display: None"></div>






<!-- Script for Google Map API -->
<script src="static/js/recommended_events.js"></script>

<!-- Google Map APIs -->
<!-- Google Map APIs -->
<script
    async
    src="https://maps.googleapis.com/maps/api/js?&libraries=places, geometry&key=AIzaSyAD0oTJmmfCcudTYnSthIF1Z9QW3H5GC5s&callback=nearbyMap">
</script>



{% endblock %}