{% extends 'base.html' %}

{% block title %} Host a Playdate {% endblock %}

{% block head %} {% endblock %}

{% block navbar %}
<div class="nav_bar">
    <form action="/">
        <input type="submit" value="Home">
    </form>
    <form action="/profile">
        <input type="submit" value="Profile">
    </form>
    <form action="/logout">
        <input type="submit" value="Log out">
    </form>
</div>
{% endblock %}

{% block body %}

<h2>Host a Playdate</h2>

<form action="/host" method="POST" id="host_form">
    <div>
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="e.g. Easter Egg Hunt" id="title" required>
    </div>
    
    <div>
        <label for="description">Description</label>
        <input type="textarea" name="description" placeholder="e.g. Kids can dress up as bunnies and go egg hunting" id="description">
    </div>

    <div>
        <label for="location">Location</label>
        <input type="text" name="location" placeholder="e.g. Greenwood Park" id="location" required>
    </div>
        
    <div>
        <label for="address">Street address</label>
        <input type="text" name="address" placeholder="e.g. 24016 Eden Ave" id="address" size="50" required>
    </div>
    
    <div>
        <label for="city">City</label>
        <input type="text" name="city" placeholder="e.g. Hayward" id="city" required>
    </div>

    <div>
        <label for="state">State</label>
        <select name="state" id="state" required> State
            <option value="">--Select one--</option>
            {% for code, state in states.items() %}
            <option value="{{code}}">{{state}}, {{code}}</option> 
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="zipcode">Zipcode</label>
        <input type="text" name="zipcode" placeholder="e.g. 94541" id="zipcode" required>
    </div>

    <div>
        <label for="date">date</label>
        <input type="date" name="date" min="{{today}}" value="{{today}}" id="date" required>
    </div>

    <div>
        <label for="start">Start time</label>
        <input type="time" id="start" required name="start">
    </div>

    <div>
        <label for="end">End time</label>
        <input type="time" id="end" required name="end">
    </div>

    <div>
        <label for="age">Age group</label>
        <select name="age_group" id="age">
            <option value="">--Select an age group--</option>
            {% for age in age_groups %}
            <option value="{{age}}">{{age}}</option> 
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="add_activities"></label>
        Do you want to add some activities to your playdate? 
        <input type="checkbox" id="add_activities" name="add_activities" value="add_activities"><br>
        <div id="suggested_activities">
            Suggested activities 
            {% for activity in activities %}
                <input type="checkbox" name="activity" value="{{activity}}" id="{{activity}}">
                <label for="{{activity}}">{{activity}}</label>
            {% endfor %}
            <br>
            <label for="other">Other activities</label>
            <input type="checkbox" id="other" name="activity" value="other">
            <input type="text" id="otherActivity" name="otherActivity">
        </div>
    </div>
    
    <div>
        Do you want to receive email reminder for your playdate? 
        <input type="radio" id="one_day" name="reminder" value="1">
        <label for="one_day">Yes, one day before</label>
        <input type="radio" id="two_day" name="reminder" value="2">
        <label for="two_day">Yes, two days before</label>
        <input type="radio" id="no" name="reminder" value="no">
        <label for="no">No, I don't want a reminder</label>
    </div>

    <div>
        <button type="submit" form="host_form" value="Submit">Submit</button>
    </div>
    
    <div id="map" style="display: None"></div>

</form>
<!-- Script for DOM and event handling -->
<script src="static/js/hosting.js"></script>

<!-- Script for Google Map API -->
<script src="static/js/maps.js"></script>

<!-- Google Map APIs -->
<script
    async
    src="https://maps.googleapis.com/maps/api/js?&libraries=places&key=AIzaSyAD0oTJmmfCcudTYnSthIF1Z9QW3H5GC5s&callback=otherMap">
</script>

{% endblock %}