{% extends 'base.html' %}

{% block title %} Host a Playdate {% endblock %}

{% block head %} {% endblock %}

{% block body %}

<h2 class="text-center fw-bold">Host a Playdate</h2>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4"><br>
            <img class="img-fluid rounded-25 m-100" id="host_form_image2" src="/static/image/Background_images/host_3.jpeg" alt="tree image"><br>
            <img class="img-fluid rounded-25 m-100" id="host_form_image" src="/static/image/Background_images/host.jpeg" alt="host image">
            
        </div>

        <div class="col-12 col-md-6 col-lg-8">

            <form action="/host" method="POST" id="host_form">
                <br>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" name="title" id="title" required>
                    <label for="title">Title: e.g. e.g. Easter Egg Hunt</label>
                </div>
                
                <div class="form-floating mb-3">
                    <input class="form-control" type="textarea" name="description" id="description">
                    <label class="form-label" for="description">Description: e.g. Kids can dress up as bunnies and go egg hunting</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" type="text" name="location" id="location" required>
                    <label class="form-label" for="location">Location: e.g. Greenwood Park</label>
                </div>
                    
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" name="address" id="address" required>
                    <label class="form-label" for="address">Street address: Start typing and choose one from the address suggestion box</label>    
                </div>
                
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" name="city" id="city" required>
                    <label class="form-label" for="city">City</label>
                </div>

                <div class="form-floating mb-3">
                    <select class="form-select" name="state" id="state" required> State
                        <option value="">--Select one option--</option>
                        {% for code, state in states.items() %}
                        <option value="{{code}}">{{state}}, {{code}}</option> 
                        {% endfor %}
                    </select>
                    <label class="form-label" for="state">State</label>
                    
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" type="text" name="zipcode" id="zipcode" required>
                    <label class="form-label" for="zipcode">Zipcode</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" type="date" name="date" min="{{today}}" value="{{today}}" id="date" required>
                    <label for="date">Date: MM/DD/YYYY or choose from date picker</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" type="time" id="start" name="start" required >
                    <label class="form-label" for="start">Start time: HH:MM AM or HH:MM PM or choose from time picker</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" type="time" id="end" name="end" required>
                    <label for="end">End time: HH:MM AM or HH:MM PM or choose from time picker</label>
                </div>

                <div class="form-floating mb-3">
                    <select class="form-select" name="age_group" id="age" required>
                        <option value="">--Select an age group--</option>
                        {% for age in age_groups %}
                        <option value="{{age}}">{{age}}</option> 
                        {% endfor %}
                    </select>
                    <label class="form-label" for="age">Age group</label>
                </div>

                <br>
                <div class="form-floating mb-3">
                    <label class="form-label" for="add_activities"></label>
                    Do you want to add some activities to your playdate? 
                    <input type="checkbox" id="add_activities" name="add_activities" value="add_activities"><br>
                    <div id="suggested_activities">
                        Suggested activities
                        {% for activity in activities %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="activity" value="{{activity}}" id="{{activity}}">
                            <label class="form-check-label" for="{{activity}}">{{activity}}</label>
                        </div>
                        {% endfor %}
                        <div class="form-check">
                            <input type="checkbox" id="other" name="activity" value="other">
                            <label class="form-label" for="other">Other activities</label>
                            <input type="text" id="otherActivity" name="otherActivity">
                        </div>    
                    </div>
                </div>
                
                <br>
                Do you want to receive email reminder for your playdate? <br>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="one_day" name="reminder" value="1">
                    <label class="form-check-label" for="one_day">Yes, one day before</label><br>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="two_day" name="reminder" value="2" checked>
                    <label class="form-check-label" for="two_day">Yes, two days before</label><br>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="no" name="reminder" value="no">
                    <label class="form-check-label" for="no">No, I don't want a reminder</label>
                </div>

                <div class="mt-3 text-center">
                    <button class="btn btn-primary btn-md" type="submit" form="host_form" value="Submit">Submit</button>
                </div>
        </div>
    </div>
</div>

    <div id="map" style="display: None"></div>

</form>
<!-- Script for DOM and event handling -->
<script src="static/js/hosting.js"></script>

<!-- Script for Google Map API -->
<script src="static/js/maps.js"></script>

<!-- Google Map APIs -->
<script
    async
    src="https://maps.googleapis.com/maps/api/js?&libraries=places&key=AIzaSyAD0oTJmmfCcudTYnSthIF1Z9QW3H5GC5s&callback=otherMap">
</script>

{% endblock %}