{% extends 'base.html' %}

{% block title %} Send invitations {% endblock %}

{% block body %}

<div id="event_details">
    <p>Title: {{ event.title }}</p>
    <p>Description: {{ event.description }}</p>
    {% if event.location.photo %}
        <img src={{ event.location.photo }} alt="parkPhoto" />
    {% else %}
        <img src=/static/image/park.jpeg alt="parkPhoto" />
    {% endif %}
    <p>Location: {{ event.location.name }}</p>
    <p>Address: {{ event.location.address }}, {{ event.location.city }}, 
        {{ event.location.state }} {{ event.location.zipcode }} </p>
    <p>On {{ event.date }} from {{ event.start_time }} to {{ event.end_time }}</p>
    <p>Activities: 
        {% for activity in event.activities %}
            {% if loop.last %}
                {{ activity.name }}.
            {% else %}
                {{ activity.name }},
            {% endif %}
        {% endfor %}
    </p>

</div>

<form action="/send_invitation">
    <h3> Who would you like to invite to this playdate? </h3>
    <div>
    {% for friend in friend_list %}
        <input type="checkbox" name="friend" value="{{friend.email}} " id="{{friend.user_id}} ">
        <label for="{{friend.user_id}} ">{{friend.fname}} {{friend.lname}}</label>
    {% endfor %}
    </div>

    <div>
        <input type="hidden" id="invite{{event.event_id}}" name="event_info" value="attend?event_id={{event.event_id}}">
        <textarea id="invite" name="message">Check out this playdate!</textarea>

    </div>

    <div>
        <button type="submit" value="Submit">Submit</button>
    </div>

</form>
  


<!-- Script for DOM and event handling -->
<script src="static/js/playdate.js"></script>


{% endblock %}