{% extends 'base.html' %}

{% block title %} Reset password {% endblock %}

{% block body %}

<h2>Reset your password</h2>

<form action="/forget_pw" method="POST">
    <div>
        <label for="email">Email address</label> <br>
        <input type="email" name="email" placeholder="email@example.com" id="email" required>
    </div>

    <div>
        <label for="first">First name</label> <br>
        <input type="text" name="first" placeholder="Jane" id="first" required>
    </div>

    <div>
        <label for="last">Last name</label><br>
        <input type="text" name="last" placeholder="Doe" id="last" required>
    </div>

    <div>
        <label for="password">New password</label><br>
        <input type="password" name="password" placeholder="Password" id="password" required>
    </div>

    <div>
        <label for="confirm_password">Confirm new password</label><br>
        <input type="password" name="confirm_password" placeholder="Password" id="confirm_password" required>
    </div>

    <div>
        <button type="submit" id="signin"> Reset password </button>
    </div>

{% endblock %}