{% extends 'base.html' %}

{% block title %} Your profile {% endblock %}

{% block body %}

<h2 id="user_info">
    {{user.fname}} {{user.lname}} 
</h2>

<div id="future_host_events">
    <h3>Playdates you are hosting: </h3>
    {% if future_host|length > 0 %}
        <ul>
        {% for event in future_host | sort(attribute="date", reverse=true) %}
            <li>
                {{ event.title }} on {{event.date}} at {{event.location.name}}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You are not hosting any playdates. 
            Would you like to  <a href="/host">be the host</a>?</p>
    {% endif %}
</div>

<div id="past_host_events">
    <h3>Playdates you hosted: </h3>
    {% if past_host|length > 0 %}
        <ul>
        {% for event in past_host | sort(attribute="date", reverse=true) %}
            <li>
                {{ event.title }} on {{event.date}} at {{event.location.name}}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You have not hosted any playdates.</p>
    {% endif %}
</div>

<div id="future_guess_events">
    <h3>Playdates you are attending: </h3>
    {% if future_guess|length > 0 %}
        <ul>
        {% for registration in future_guess | sort(attribute="event.date", reverse=true) %}
            <li>
                {{ registration.event.title }} on {{ registration.event.date }} at {{ registration.event.location.name}}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You have not registered for any playdates.
        Would you like to <a href="/"> search for a playdate </a> ?
        </p>
    {% endif %}
</div>

<div id="past_guess_events">
    <h3>Playdates you attended: </h3>
    {% if past_guess|length > 0 %}
        <ul>
            {% for registration in past_guess | sort(attribute="event.date", reverse=true) %}
            <li>
                {{ registration.event.title }} on {{ registration.event.date }} at {{ registration.event.location.name}}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You have not attended any playdates.</p>
    {% endif %}
</div>



<!-- Script for DOM and event handling -->
<script src="static/js/playdate.js"></script>


{% endblock %}